# üìä An√°lise de Dados Musicais - Spotify & YouTube

## üéØ Contexto do Projeto

**Voc√™ foi contratado pela Mateus Music** como Cientista de Dados para analisar o cat√°logo musical da empresa. Sua miss√£o √© explorar a base de dados contendo **mais de 20.000 m√∫sicas** e extrair insights valiosos sobre o desempenho dos artistas nas plataformas Spotify e YouTube.

A empresa precisa entender:
- Quem s√£o os artistas mais relevantes
- Quais m√∫sicas performam melhor
- Como otimizar investimentos em marketing digital

## üìÅ Sobre a Base de Dados

### Caracter√≠sticas Principais:
- **+20.000 m√∫sicas** no cat√°logo completo
- Dados de **Streams no Spotify** 
- Dados de **Views no YouTube**
- **Links dos v√≠deos** do YouTube para cada m√∫sica
- **Metadados completos** de artistas e faixas

### 1. Importe o Pandas e mostre as informa√ß√µes gerais do dataframe

In [1]:
import pandas as pd

df = pd.read_parquet('Dados_Artistas.parquet')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Artist            20718 non-null  object
 1   Url_spotify       20718 non-null  object
 2   Track             20718 non-null  object
 3   Album             20718 non-null  object
 4   Album_type        20718 non-null  object
 5   Uri               20718 non-null  object
 6   Danceability      20716 non-null  float64
 7   Energy            20716 non-null  float64
 8   Key               20716 non-null  float64
 9   Loudness          20716 non-null  float64
 10  Speechiness       20716 non-null  float64
 11  Acousticness      20716 non-null  float64
 12  Instrumentalness  20716 non-null  float64
 13  Liveness          20716 non-null  float64
 14  Valence           20716 non-null  float64
 15  Tempo             20716 non-null  float64
 16  Duration_ms       20716 non-null  float64
 17  Url_youtube       20248 non-null  object
 18  Title             20248 non-null  object
 19  Channel           20248 non-null  object
 20  Views             20248 non-null  float64
 21  Likes             20177 non-null  float64
 22  Comments          20149 non-null  float64
 23  Description       19842 non-null  object
 24  Licensed          20248 non-null  object
 25  official_video    20248 non-null  object
 26  Stream            20142 non-null  float64
dtypes: float64(15), object(12)
memory usage: 4.3+ MB

### 2. Mostre as cinco primeiras linhas do dataframe

In [2]:
df.head()

,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,Key,Loudness,...,Url_youtube,Title,Channel,Views,Likes,Comments,Description,Licensed,official_video,Stream
0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,Demon Days,album,spotify:track:0d28khcov6AiegSCpG5TuT,0.818,0.705,6.0,-6.679,...,https://www.youtube.com/watch?v=HyHNuVaZJ-k,Gorillaz - Feel Good Inc. (Official Video),Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,True,True,1.040235e+09
1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,Plastic Beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,0.676,0.703,8.0,-5.815,...,https://www.youtube.com/watch?v=yYDmaexVHic,Gorillaz - Rhinestone Eyes [Storyboard Film] (...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,True,True,3.100837e+08
2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,0.695,0.923,1.0,-3.930,...,https://www.youtube.com/watch?v=qJa-VFwPpYA,Gorillaz - New Gold ft. Tame Impala & Bootie B...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,True,True,6.306347e+07
3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,Plastic Beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,0.689,0.739,2.0,-5.810,...,https://www.youtube.com/watch?v=04mfKJWDSzI,Gorillaz - On Melancholy Hill (Official Video),Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,True,True,4.346636e+08
4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,Gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,0.663,0.694,10.0,-8.627,...,https://www.youtube.com/watch?v=1V_xRb0x9aw,Gorillaz - Clint Eastwood (Official Video),Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,True,True,6.172597e+08

### 3. Vamos ver quais os artistas temos em nosso df e contar quantos artistas diferentes temos no nosso dataset

In [3]:
df['Artist'].value_counts()

Artist
SICK LEGEND              10
Gorillaz                 10
Red Hot Chili Peppers    10
50 Cent                  10
Metallica                10
                         ..
NewJeans                  6
Alfonso Herrera           6
Jimin                     3
Bootie Brown              1
Stars Music Chile         1
Name: count, Length: 2079, dtype: int64

In [6]:
df['Artist'].nunique()

2079

### 4. Quais os 10 artistas com mais musicas em nosso dataset?

In [9]:
### vamos verifcar os artistas com mais musicas na lista
df['Artist'].value_counts().head(10)

Artist
SICK LEGEND              10
Gorillaz                 10
Red Hot Chili Peppers    10
50 Cent                  10
Metallica                10
Coldplay                 10
Daft Punk                10
Linkin Park              10
Radiohead                10
AC/DC                    10
Name: count, dtype: int64

### 5. Quais as 5 m√∫sicas com musicas com mais views no youtube?

In [16]:
### quero mostrar as 5 musicas com mais views no youtube
# df['Views'].value_counts().head()

## musicas 
top5 = df.sort_values(by='Views', ascending=False).head(6)
top5[['Track','Views','Artist']]

                                    Track         Views        Artist
1147                            Despacito  8.079649e+09    Luis Fonsi
365                             Despacito  8.079647e+09  Daddy Yankee
12452                        Shape of You  5.908398e+09    Ed Sheeran
14580  See You Again (feat. Charlie Puth)  5.773798e+09  Charlie Puth
12469  See You Again (feat. Charlie Puth)  5.773797e+09   Wiz Khalifa
20303                   Wheels on the Bus  4.898831e+09     CoComelon

### 6. Quais os 5 artistas com mais streams no spotify?

In [18]:
### Quais os 5 artistas com mais streams no spotify?
## musicas 
top5 = df.sort_values(by='Stream', ascending=False).head(6)
top5[['Artist']]

              Artist
15250     The Weeknd
12452     Ed Sheeran
19186  Lewis Capaldi
17937    Post Malone
17938    Post Malone
17445       Swae Lee

### 7. Vamos converter e salvar o arquivo com parquet, para subir no github

In [19]:
### vamos converter o arquivo para parquet
df.to_parquet('Dados_Artistas_v2.parquet', index=False)